<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body>
<!-- TOP -->
<section class="header-section" id="home">
    <div class="container-fluid p-0 shadow-lg border-bottom pt-5" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="container text-white pt-2">
            <div class="row align-items-center">

                <!-- Top Img -->
                <div class="col-12 col-sm-12 col-md-5 col-lg-6">
                    <div class="align-middle main-image">
                        <img src="static/assets/images/main-img.png" class="mx-auto d-block">
                    </div>
                </div>

                <!-- Top Text -->
                <div class="col-12 col-sm-12 col-md-7 col-lg-6">
                    <div class="container py-5 main-text ">
                        <h4 class="mb-0 cst-blue-t"><span class="auto-type"> </span></h4>
                        <h1 class="mb-0 mt-0 main-name cst-white-t fw-bold">Bogdan</h1>
                        <h1 class="mb-3 main-name cst-white-t fw-bold">Bonev</h1>
                        <h4 class="mb-3">and I am a <a class="cst-blue-t no-hover">designer</a> and a future <a
                                class="cst-blue-t no-hover">programmer</a>.</h4>
                        <a class="btn btn-outline-light btn-lg" href="#about" role="button">Learn More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- TOP -->

<!-- ABOUT -->
<section class="about-section" id="about">
    <div class="container-fluid p-0 shadow-lg" style="background-color: #f9f9f9;">
        <div class="container py-3 info-div ">
            <div class="row align-items-center">

                <!--  About Text -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-dark mobile-text">
                    <h1 class="display-3 fw-normal headline"><span>About Me</span></h1>
                    <div class="py-2 ">
                        <p>Hello, I'm a designer and a programmer in the making. I have experience with web, ads and
                            product designs and copywriting as well. Currently, I'm improving my knowledge of Python,
                            HTML,
                            CSS, JavaScript and some other tools. I strive
                            to create
                            websites and designs that are user-friendly, accessible, and visually appealing. </p>
                        <p>I'm a strong believer in the power of open source technology, so I have
                            been regularly contributing to the
                            coding community. I'm always learning new technologies and keep up with industry best
                            practices to the best of my ability. </p>
                        <p>If you're looking for a designer, website manager or even a copywriter who is reliable,
                            experienced, and passionate about creating beautiful and functional websites & designs, then
                            I'm the perfect fit for your project. Feel free to reach out and get in touch!. </p>
                    </div>
                    <p><a class="btn btn-primary btn-lg shadow" href="static/assets/Bogdan-Bonev-CV.pdf" download
                          role="button">Download my CV</a></p>
                </div>

                <!--  About Img -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
                    <div class="align-middle gif-div">
                        <img src="static/assets/images/about-gif.gif" class="about-gif">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ABOUT -->

<!-- SKILLS -->
<section class="skills-section" id="skills">
    <div class="container-fluid p-0">

        <!-- Skills Text -->
        <div class="container py-3">
            <div class="col-12 text-dark info-div mobile-text">
                <h1 class="display-3 fw-normal headline"><span>My Skills</span></h1>
                <div class="py-2">
                    <p>I'm a skilled web designer and a novice programmer, with extensive experience in Photoshop, Canva
                        and a little bit of Adobe Illustrator. As for my programing knowledge, I work with Python, HTML,
                        CSS, Bootstrap 5,
                        JavaScript, SQLite and more. Moreover, I have worked on multiple projects built on Shopify and
                        Wix </p>
                </div>
            </div>
        </div>

        <!-- Skills Cards -->
        <div class="container pb-5">
            <div class="row">

                <!-- Card 1 -->
                <div class="col-12 col-md-6 pb-5">
                    <div class="card shadow-lg skills-card mx-3">
                        <div class="card-header">
                            <h4 class="display-6 fw-normal  text-center">Programing</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text mb-1"><i class="fa-brands fa-python pe-2"></i>Python</p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:70%"></div>
                            </div>
                            <p class="card-text mb-1"><i class="fab fa-js pe-2"></i>JavaScript</p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:15%"></div>
                            </div>
                            <p class="card-text mb-1"><i class="fab fa-html5 pe-2"></i>HTML</p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:80%"></div>
                            </div>
                            <p class="card-text mb-1"><i class="fab fa-css3 pe-2"></i>CSS</p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:35%"></div>
                            </div>
                            <p class="card-text mb-1"><i class="fab fa-bootstrap pe-2"></i>Bootstrap</p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:65%"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-12 col-md-6 ">
                    <div class="card shadow-lg skills-card mx-3">
                        <div class="card-header">
                            <h4 class="display-6 fw-normal  text-center">Design & Other</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text mb-1 ps-2"><i class="pe-2">
                                <iconify-icon icon="file-icons:adobe-photoshop"></iconify-icon>
                            </i>Adobe Photoshop
                            </p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:80%"></div>
                            </div>
                            </i>
                            <p class="card-text mb-1 ps-2"><i class="pe-2">
                                <iconify-icon icon="simple-icons:canva"></iconify-icon>
                            </i>Canva
                            </p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:95%"></div>
                            </div>
                            <p class="card-text mb-1 ps-2"><i class="pe-2">
                                <iconify-icon icon="tabler:brand-wix">
                                </iconify-icon>
                            </i>WIX
                            </p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:85%"></div>
                            </div>
                            <p class="card-text mb-1 ps-2"><i class="pe-2">
                                <iconify-icon icon="ic:baseline-shopify">
                                </iconify-icon>
                            </i>Shopify
                            </p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:45%"></div>
                            </div>
                            <p class="card-text mb-1 ps-2"><i class="pe-2">
                                <iconify-icon icon="ic:baseline-wordpress">
                                </iconify-icon>
                            </i>Wordpress
                            </p>
                            <div class="progress mb-2">
                                <div class="progress-bar" style="width:25%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- SKILLS -->

<!-- STRENGTHS -->
<section class="strengths-section text-light">
    <div class="container-fluid p-0 bg-dark strengths-section shadow-lg">
        <div class="container py-3">

            <!-- Strengths Text -->
            <div class="pb-3 info-div mobile-text">
                <h1 class="display-3 fw-normal headline bg_slider "><span class="dark-span">My Strengths</span></h1>
                <p>I'm a driven and reliable person with a passion for creating beautiful and
                    functional websites & websites. I'm an effective problem-solver and I strive for excellence in all
                    of my
                    projects. I'm an excellent communicator, both verbally and in writing, and I'm able to work
                    efficiently and effectively in a team environment.</p>
            </div>

            <!-- Strengths Cards -->
            <div class="row text-dark pb-3">
                <div class="col-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box ">
                        <div class="icon"><i class="fas fa-cogs"></i></div>
                        <h4 class="title text-reset">Logical</h4>
                        <p class="description">I'm a logical thinker who is able to break complex problems down into
                            smaller, manageable parts in order to find the best solutions</p></div>
                </div>
                <div class="col-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-book-open"></i></div>
                        <h4 class="title">Fast Learner</h4>
                        <p class="description">I'm able to quickly understand and master new
                            concepts and enjoy learning through research and experimentation. </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <h4 class="title">Team Player</h4>
                        <p class="description">I'm a team player who is able to work collaboratively with others to
                            achieve common goals.</p></div>
                </div>
                <div class="col-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-comments"></i></div>
                        <h4 class="title">Receptive</h4>
                        <p class="description">I'm a great listener and I'm always open to feedback and
                            suggestions. I take pride in my ability to quickly absorb new information and put it into
                            practice.</p></div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- STRENGTHS -->

<!-- PORTFOLIO -->
<section class="portfolio-section" id="portfolio">
    <div class="container-fluid pt-5 bg-light shadow-lg ">
        <div class="container">

            <!-- Portfolio Text -->
            <div class="pb-3 info-div border-bottom">
                <h1 class="display-3 fw-normal headline bg_slider"><span>Portfolio</span></h1>
                <p class="mobile-text">This section showcases the projects I have completed. It offers a
                    comprehensive look at my design and programming skills, as well as a glimpse into my creative
                    process and the results of my work. It provides a visual representation of the websites,
                    applications, and other projects I have worked on, and it highlights the unique features of each
                    project. My portfolio section is a great way to get an insight into my skills, style, and
                    experience.</p>
            </div>

            <!-- Portfolio Project 1 -->
            <div class="d-none d-lg-block">
                <div class="row py-3 pb-5">
                    <div class="col-12 col-md-5 ">
                        <div class="pb-3 info-div pt-5">
                            <h2 class="fw-normal">Cafe & Wifi</h2>
                            <p>This is a website for rating different cafe places that you have visited. It has an
                                SQLite database for all the users and the cafés they have submitted. It was built with
                                Flask, Python, Bootstrap, HTML, CSS and some custom JavaScript. It also automatically
                                detects the geolocation of the cafe provided with a Google Maps API.</p>
                            <p><a class="btn btn-primary btn-lg shadow" href="https://github.com/bbonev14/Cafe_Wifi"
                                  target="_blank" role="button">Check it out</a></p>
                        </div>
                    </div>

                    <div class="col-12  col-md-7">
                        <div class="card shadow">
                            <div class="card-body">
                                <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                    </div>

                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="static/assets/images/cafe1.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/cafe2.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/cafe3.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev text-dark" type="button"
                                            data-bs-target="#carousel1"
                                            data-bs-slide="prev" onmouseover="this.style.background='gray';"
                                            onmouseout="this.style.background='';">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carousel1"
                                            data-bs-slide="next" onmouseover="this.style.background='gray';"
                                            onmouseout="this.style.background='';">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Portfolio Project 2 -->
                <div class="row py-3 border-bottom pb-5 row flex-column-reverse flex-md-row ">
                    <div class="col-12 col-md-7">
                        <div class="card shadow">
                            <div class="card-body">
                                <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                    </div>

                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="static/assets/images/kanban1.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/kanban2.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/kanban3.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carousel2"
                                            data-bs-slide="prev" onmouseover="this.style.background='gray';"
                                            onmouseout="this.style.background='';">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carousel2"
                                            data-bs-slide="next" onmouseover="this.style.background='gray';"
                                            onmouseout="this.style.background='';">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-5 ">
                        <div class="pb-3 info-div pt-5 text-end">
                            <h2 class=" fw-normal">Kanban TODO</h2>
                            <p>This is something I am very proud of. It is fully functioning kanban board building
                                website. You can drag and drop, edit and create different kanban cards. All of which
                                have a dedicated progress bar. Built with Flask Python, HTML, CSS, Custom JS and
                                Bootstrap 5.</p>
                            <p><a class="btn btn-primary btn-lg shadow" href="https://github.com/bbonev14/Kanban_TODO"
                                  target="_blank" role="button">Check it out</a></p>
                        </div>
                    </div>
                </div>
            </div>


            <!--Mobile Projects-->
            <div class="d-lg-none">
                <ul class="nav nav-tabs pt-3">
                    <li class="nav-item">
                        <a class="nav-link active custom-nav-link" data-bs-toggle="tab" href="#cafe">Cafe & Wifi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-nav-link" data-bs-toggle="tab" href="#kanban">Kanban TODO</a>
                    </li>
                </ul>

                <div class="tab-content border-bottom pb-5">
                    <div class="tab-pane container active" id="cafe">
                        <div class="card shadow mt-5">
                            <div class="card-header text-center">
                                <h1 class="display-6 fw-normal ">Cafe & Wifi</h1>
                            </div>
                            <div class="card-body text-center">
                                <div id="carousel2Mobile" class="carousel slide border-bottom pb-3"
                                     data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carousel2Mobile" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carousel2Mobile" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carousel2Mobile" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="static/assets/images/cafe1.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/cafe2.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/cafe3.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carousel2Mobile"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carousel2Mobile"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <h5 class="card-title pt-3 "> Web App </h5>
                                <p class="card-text">This is a website for rating different cafe places that you have
                                    visited. It has an
                                    SQLite database for all the users and the cafes they have submitted. It was built
                                    with
                                    Flask, Python, Bootstrap, HTML, CSS and some custom JavaScript. It also
                                    automatically
                                    detects the geolocation of the cafe provided with a Google Maps API.</p>
                                <p><a class="btn btn-primary btn-lg shadow" href="https://github.com/bbonev14/Cafe_Wifi"
                                      target="_blank" role="button">Check it out</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane container" id="kanban">
                        <div class="card shadow mt-5">
                            <div class="card-header text-center">
                                <h1 class="display-6 fw-normal ">Kanban TODO</h1>
                            </div>
                            <div class="card-body text-center">
                                <div id="carousel3Mobile" class="carousel slide border-bottom pb-3"
                                     data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carousel3Mobile" data-bs-slide-to="0"
                                                class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carousel3Mobile" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carousel3Mobile" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="static/assets/images/kanban1.png"
                                                 class="d-block w-100" alt="...">

                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/kanban2.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="static/assets/images/kanban3.png"
                                                 class="d-block w-100" alt="...">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carousel3Mobile"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carousel3Mobile"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <h5 class="card-title pt-3 ">Web App</h5>
                                <p class="card-text">This is something I am very proud of. It is fully functioning
                                    kanban board building
                                    website. You can drag and drop, edit and create different kanban cards. All of which
                                    have a dedicated progress bar. Built with Flask Python, HTML, CSS, Custom JS and
                                    Bootstrap 5.</p>
                                <p><a class="btn btn-primary btn-lg shadow"
                                      href="https://github.com/bbonev14/Kanban_TODO" target="_blank" role="button">Check
                                    it out</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other Projects -->
            <div class="row pt-3 pb-3 border-bottom">
                <div class="pb-3 info-div mobile-text">
                    <h1 class="display-6 fw-normal">Other projects</h1>
                    <p>These are some of the other notable projects I've made.</p>

                </div>
                <div class="col-md-4 py-3">
                    <div class="card shadow-lg">
                        <img src="static/assets/images/others1.png"
                             class="card-img-top" type="button" alt="..." data-bs-toggle="modal"
                             data-bs-target="#others1">
                        <div class="card-body">
                            <h5 class="card-title">Thrace Tactical Gear</h5>
                            <div class="row">
                                <div class="col-10">
                                    <p class="card-text"> This is an online e-commerce store built with WIX. All the
                                        design, placements, colors ect. have been done by me.</p>
                                </div>
                                <div class="col-2 position-relative "><a href="https://www.thracetactical.com/"
                                                                         target="_blank"
                                                                         class="fas fa-plus plus-icon text-reset position-absolute bottom-0 start-50 translate-middle-x"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="card shadow-lg">
                        <img src="static/assets/images/modals/others2modalpic4.png"
                             class="card-img-top" alt="..." type="button" data-bs-toggle="modal"
                             data-bs-target="#others2">
                        <div class="card-body">
                            <h5 class="card-title">Image Watermarker</h5>
                            <div class="row">
                                <div class="col-10">
                                    <p class="card-text">This is a simple tool made on Python with a TKinter GUI. It has
                                        a file search and save options.</p>
                                </div>
                                <div class="col-2 position-relative "><a href=""
                                                                         class="fas fa-plus plus-icon text-reset position-absolute bottom-0 start-50 translate-middle-x"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="card shadow-lg">
                        <img src="static/assets/images/others3.png"
                             class="card-img-top" alt="..." type="button" data-bs-toggle="modal"
                             data-bs-target="#others3">
                        <div class="card-body">
                            <h5 class="card-title">Typing Speed Test </h5>
                            <div class="row">
                                <div class="col-10">
                                    <p class="card-text">A little project built on Python with tkinter GUI. It
                                        calculates the speed of typing and detects mistakes.</p>
                                </div>
                                <div class="col-2 position-relative "><a
                                        href="https://github.com/bbonev14/Typing_Speed_Test" target="_blank"
                                        class="fas fa-plus plus-icon text-reset position-absolute bottom-0 start-50 translate-middle-x"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Design Corusel -->
        <div class="pt-3 info-div container mobile-text pb-2">
            <h1 class="display-6 fw-normal ">Designs </h1>
            <p>Here you can see a selection of designs made by me.</p>
            <a class="btn btn-primary shadow-sm " data-bs-toggle="modal" data-bs-target="#designs-gallery"
               role="button">Open Gallery</a>
        </div>

        <div class="owl-carousel owl-theme bg-light py-3 container">

            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel1.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel2.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel3.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel4.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel5.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel6.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel7.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel8.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel9.png" alt="image"/></h4>
            </div>
            <div class="item shadow-lg">
                <h4><img src="static/assets/images/corusel10.png" alt="image"/></h4>
            </div>

        </div>

    </div>

</section>
<!-- PORTFOLIO -->

<!-- MINDSET -->
<section class="mindset-section shadow-lg" id="mindset">
    <div class="container-fluid p-0 shadow-lg bg-dark">
        <div class="container py-5 info-div ">
            <div class="row align-items-center ">

                <!-- Mindset Img -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 ">
                    <div class=" gif-div2 text-center">
                        <img src="static/assets/images/mindset-gif.gif" class="testimonials-gif">
                    </div>
                </div>

                <!-- Mindset Text -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-light">
                    <h1 class="display-3 fw-normal headline"><span class="dark-span">Mindset</span></h1>
                    <div class="py-2 mobile-text">
                        <p>I'm a positive and productive thinker who is driven, motivated, and focused on making
                            progress. I also see myself as an effective problem-solver, tackling obstacles one step at a
                            time.</p>

                        <p> Creativity and coming up with innovative solutions to complex issues is part of my work
                            process.
                            Moreover, staying positive and focused even when working on though project is very important
                            to me.</p>

                        <p>I firmly believe that anything is possible if you have the right mindset and are willing to
                            put in
                            the work. I always try my best to set goals, take action and look for ways to improve and
                            grow.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MINDSET -->

<!-- TESTIMONIALS -->
<section class="testimonials-section" id="testimonials">
    <div class="container-fluid p-0 shadow-lg bg-light ">
        <div class="container pt-5 ">

            <!-- Testimonials Text -->
            <div class="info-div border-bottom">
                <h1 class="display-3 fw-normal headline "><span>Testimonials</span></h1>
                <p class="mobile-text">Here you can see the feedback I have received from people I have worked with.
                    It offers an insight into the quality of my work and the results I am able to achieve.
                    I'm always grateful for the kind words of appreciation I receive
                    and I take pride in my ability to exceed expectations.</p>
            </div>

            <!-- Testimonials Corusel -->
            <div class="container py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-9">
                        <div class="text-center mb-4 pb-2">
                            <i class="fas fa-quote-left fa-3x quotes"></i>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-12">
                                <!-- Carousel wrapper -->
                                <div id="carouselBasicExample" class="carousel slide carousel-dark"
                                     data-bs-ride="carousel">
                                    <!-- Inner -->
                                    <div class="carousel-inner">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <p class="lead font-italic mx-4 mx-md-5">
                                                "I am very happy with the ad designs made by Bogdan. I asked for a logo
                                                and a FB header which also turned out great! "
                                            </p>
                                            <div class="mt-5 mb-4">
                                                <img src="static/assets/images/people/m-g.jpg"
                                                     class="rounded-circle img-fluid shadow-1-strong" alt="image"
                                                     width="100"
                                                     height="100"/>
                                            </div>
                                            <p class="text-muted mb-0">- Mikaela Gesheva | Business Owner</p>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <p class="lead font-italic mx-4 mx-md-5">
                                                "Bogdan made a lovely logo and a few ads for my products with wich I was very pleased. Everything was done on time, and he was very easy to comunicate with."
                                            </p>
                                            <div class="mt-5 mb-4">
                                                <img src="static/assets/images/people/placeholder.jpg"
                                                     class="rounded-circle img-fluid shadow-1-strong" alt="image"
                                                     width="100"
                                                     height="100"/>
                                            </div>
                                            <p class="text-muted mb-0">- Teodora G. | Business Owner</p>
                                        </div>

                                        <!-- Single item -->
                                        <!--                                        <div class="carousel-item">-->
                                        <!--                                            <p class="lead font-italic mx-4 mx-md-5">-->
                                        <!--                                                "."-->
                                        <!--                                            </p>-->
                                        <!--                                            <div class="mt-5 mb-4">-->
                                        <!--                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"-->
                                        <!--                                                     class="rounded-circle img-fluid shadow-1-strong" alt="smaple image"-->
                                        <!--                                                     width="100"-->
                                        <!--                                                     height="100"/>-->
                                        <!--                                            </div>-->
                                        <!--                                            <p class="text-muted mb-0">- .</p>-->
                                        <!--                                        </div>-->
                                    </div>
                                    <!-- Inner -->

                                    <!-- Controls -->
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselBasicExample"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselBasicExample"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <!-- Carousel wrapper -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "other-project-modals.html" %}
{% include "footer.html" %}
</body>
</html>