{% block project_modals %}

<!--OTHERS 1-->
<div class="modal" id="others1" tabindex="-1" aria-labelledby="others1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="others1Label">Thrace Tactical Gear</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="others1Controls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/assets/images/others1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others1modalpic2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others1modalpic3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others1modalpic4.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#others1Controls"
                  data-bs-slide="prev" >
            <span class="carousel-control-prev-icon " aria-hidden="true" ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#others1Controls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--OTHERS 1-->

<!--OTHERS 2-->
<div class="modal" id="others2" tabindex="-1" aria-labelledby="others2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="others2Label">Image Watermarker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="others2Controls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/assets/images/modals/others2modalpic2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others2modalpic3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others2modalpic4.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#others2Controls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#others2Controls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--OTHERS 2-->

<!--OTHERS 3-->
<div class="modal" id="others3" tabindex="-1" aria-labelledby="others3Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="others3Label">Typing Speed Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="others3Controls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/assets/images/others3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others3modalpic2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others3modalpic3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/modals/others3modalpic4.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#others3Controls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#others3Controls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--OTHERS 3-->

<!--DESIGNS GALLERY-->
<div class="modal" id="designs-gallery" tabindex="-1" aria-labelledby="designs-galleryLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="designs-galleryLabel">Typing Speed Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="designs-galleryControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/assets/images/corusel1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel4.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel5.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel6.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel7.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel8.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel9.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="static/assets/images/corusel10.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#designs-galleryControls"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#designs-galleryControls"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--DESIGNS GALLERY-->




{% endblock project_modals %}
